
<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<form  name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
<div  class="modal-body" >

      <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-listing-number"></i></label></span>
          <input  type="text" class="form-control" id="exampleInputLib"
          name="libelle" required [(ngModel)]="domaine.libelle_domaine" #libelle="ngModel"
          placeholder="libelle"/>
        </div>


        <!-- <div *ngIf="(matricule.invalid && matricule.touched)||(this.controls.validateEmailregex(matricule) && matricule.touched)
        ||(this.controls.validateLength(matricule) && matricule.touched)"
        class="alert alert-danger p-2" role="alert">
          La matricule est invalide
        </div> -->
        <!-- <div *ngIf="(this.controls.verifMatriculeExiste(matricule,this.matList) && matricule.touched)" class="alert alert-danger p-2" role="alert">
          La matricule existe déjà
        </div> -->


      <div class="modal-footer">

          <input type="submit" value="Confirmer" class="btn btn-outline-primary" [disabled]="f.invalid"/>
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>
      </div>
  </div>
</form>






<!-- <div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="this.confirmer()">Confirmer</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>
</div> -->
