<router-outlet></router-outlet>
<app-navbar></app-navbar>

<!-- <button (click)="this.inc()">Increase</button>
<button (click)="this.dec()">Deacrease</button>
<button (click)="this.tryOverView()">tryOverView</button>
<button (click)="this.tryObservables()" >tryObservables</button>


<hr>
<p>Operators</p>
<br>
<button (click)="this.ofOpertor()" >try ofOpertor</button>
<button (click)="this.maxMinOpertor()" >try maxmin</button>
<button (click)="this.mergeOperator()" >try merge</button>
<button (click)="this.pluckOperator()" >try pluck</button>
<button (click)="this.fromEventFunction()" >try fromEvent</button>
<button (click)="this.sithMethod()" >reduce||Scan</button>
<br>
<input type="text" (change)="this.fifthMethod()"/>

<input type="text" id="idInput" (change)="this.sevthMethod()"/>


<input type="text" id="id1" (change)="this.mergeMapMethod()"/>

<input type="text" id="id2" (change)="this.mergeMapMethod()"/>


<p>
Combined value :<span>

</span>
</p>


<button (click)="this.switchMap()" >try switchMap</button>



<button [routerLink]="['/customers']">Customers</button>
<button routerLink="/orders">Orders</button>
<button routerLink="">Home</button> -->
